html,
body {
    width:100%;
    height:100%;
}
html {
    display:table;
}
body {
    display:table-cell;
    vertical-align:middle;
    background: #4095fa;
}
body > .btn {
    display: block;
    margin: 0 auto;
}
img.img-responsive-centered {
    margin: 0 auto;
}