/**
 * bs-modals-enhancements v1.0.0
 * Bootstrap modals enhancements
 * @version 1.0.0
 * @author Javier de Andres <javier.dag@gmail.com>
 * @copyright 2015-2016 Javier de Andres.
 * @license MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/* Effects - default Bootstrap: translate(25%, 0); */
.modal.fade:not(.in).from-bottom .modal-dialog {
    transform: translate(0, 25%);
}
.modal.fade:not(.in).from-left .modal-dialog {
    transform: translate(-25%, 0);
}
.modal.fade:not(.in).from-right .modal-dialog {
    transform: translate(25%, 0);
}
.modal.fade:not(.in).from-top-left .modal-dialog {
    transform: translate(-25%, -25%);
}
.modal.fade:not(.in).from-top-right .modal-dialog {
    transform: translate(25%, -25%);
}
.modal.fade:not(.in).from-bottom-left .modal-dialog {
    transform: translate(-25%, 25%);
}
.modal.fade:not(.in).from-bottom-right .modal-dialog {
    transform: translate(25%, 25%);
}

/* Fullscreen modals */
.modal-fullscreen {
    background: transparent;
}
.modal-fullscreen .modal-dialog {
    margin: 0 auto;
    width: 100%;
}
.modal-fullscreen .modal-content {
    background: transparent;
    border: 0;
    box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
    background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: 1.00;
}

/* Transparent modals */
.modal-transparent {
    background: transparent;
}
.modal-transparent .modal-content {
    background: transparent;
}
.modal-backdrop.modal-backdrop-transparent {
    background: transparent;
}
.modal-backdrop.modal-backdrop-transparent.in {
    opacity: 0.9;
}

/* Centered modals */
.modal-vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.modal-dialog.modal-vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}
.modal-dialog.modal-vertical-align-center .modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
}
